datasets==3.3.1
evaluate==0.4.3
huggingface-hub==0.32.4
lm-format-enforcer==0.10.9
lm_eval==0.4.4
nltk==3.9.1
numpy==1.26.4
peft==0.14.0
pikepdf==9.5.1
safetensors==0.4.5
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
sentencepiece==0.2.0
setuptools==75.1.0
six==1.17.0
smart-open==6.4.0
termcolor==2.3.0
tiktoken==0.7.0
tokenizers==0.21.0
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.1
transformers==4.52.0
triton==3.1.0
